---
layout: page
title: "About"
description: "氦，我是姜~"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        这里是烤逝以外的自由成长。
        世界那么大，多玩玩看看。
    </blockquote>

    <p>氦，我是壹位姜（a.k.a. ABitGinger），一个对网络世界饶有兴致而对各种电子产品、网络技术略知一二的不务正业的机械类专业学生。一个博而不精的技术宅。</p>
    <p>现为一名本科学生🚗。信奉宗教：数学——虽然它总是不庇佑我。</p>
    <p>Minecraft 忠实爱好者，有自己的服务器，热爱生存、建筑、啃wiki，偶尔沉迷小游戏。写有一份<a href="https://abitginger.top/mcdoc/">MC文档</a>，旨在帮助任何人玩得一路顺风。</p>

    <p style="text-align:right;">
        —— 你能来看我真的很开心了
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Here lies the free growth beyond the exams. 
        The world is so vast, play and explore more.
    </blockquote>

    <p>Hi, I am Jiang (a.k.a. ABitGinger), a student majoring in mechanical engineering with a keen interest in the digital world and a smattering of knowledge about various electronic products and internet technologies. A jack-of-all-trades, master of none, tech geek.</p>
    <p>Currently, I am an undergraduate student at Dalian University of Technology, studying Automotive Engineering (English Enhanced). My religion: Mathematics – although it often fails to bless me.</p>
    <p>A loyal enthusiast of Minecraft, I have my own server, love survival, building, and reading wikis, occasionally getting lost in mini-games. I have written a <a href="https://abitginger.top/mcdoc/">MC documentation</a>, aimed at helping anyone to have a smooth gaming experience.</p> 

    <p style="text-align:right;">
    —— <a>I am delighted that you have come to visit me</a>
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
